[submodule "vscode"]
	path = vscode
	url = git@github.com:minamarkham/yonce-vscode.git
[submodule "hyper"]
	path = hyper
	url = git@github.com:WheresAlice/hyper-yonce.git
[submodule "visual-studio"]
	path = visual-studio
	url = git@github.com:minamarkham/yonce-visual-studio.git
